@import "../base/_base";
@import "../themes/variable";
@import "../components/input.scss";
@import "../components/login_button.scss";

.profile{
    .profile_header{
        margin-top: 50px;
        height: 74px;
        width: 50%;
        background: $gradient-color;
        color: $light-text-color;
        line-height: 74px;
        font-size: $large;
        font-weight: $mediumW;  
        padding-left: 20px;
    }
    .profile_body{
        .avatar{
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
        form{
            input {
                @include custom-input;
            }
            label{
                @include custom-label;
            }
            button{
                @include login-btn;
            }
            .gender-box{
                @include gender-box;   
                margin-bottom: 20px;  
            }
        }
    }
    .profile_footer{
        nav {
            .nav{
                button{
                    height: 60px;
                    color: #7D0DB1;
                    font-size: $large;
                }
            }
        }
        .orderTime{
            padding-top: 40px;
            color: #7D0DB1;
            color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #CB0DC3 0%, #7D0DB1 100%);;
        }
    }
}

.history-order-table{
    padding: 20px;
    .table{
        .table-header{
            background-color: #D9D9D9;
            padding: 20px;
        }
        img{
            width: 70px;
            height: 70px;
        }
        th{
            padding: 20px
        }
        th, td{
            padding-left: 40px;
        }
    }
}